@model Happy.DTOs.Auth.RegisterDto

<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card shadow">
            <div class="card-body">
                <h3 class="text-center mb-3">Register</h3>

                
                <form method="post">
                    <input class="form-control mb-2" name="Name" placeholder="Name" />
                    <input class="form-control mb-2" name="Email" placeholder="Email" />
                    <input class="form-control mb-2" name="Password" type="password" placeholder="Password" />
                    <input class="form-control mb-3" name="ConfirmPassword" type="password" placeholder="Confirm Password" />

                    <button class="btn btn-success w-100">Register</button>
                </form>
            </div>
        </div>
    </div>
    

</div>
