@model List<Happy.DTOs.Admin.AdminRoomDto>

<h3 class="mb-3">Manage Rooms</h3>

<table class="table table-bordered shadow">
    <thead class="table-dark">
        <tr>
            <th>Room</th>
            <th>Type</th>
            <th>Price</th>
            <th>Status</th>
        </tr>
    </thead>

    
    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td>@r.RoomNumber</td>
                <td>@r.Type</td>
                <td>₹@r.Price</td>
                <td>
                    @(r.IsActive ? "Active" : "Inactive")
                </td>
            </tr>
        }
    </tbody>
   

</table>
